[submodule "libs/toml11"]
	path = libs/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/CrowCpp"]
	path = libs/CrowCpp
	url = https://github.com/CrowCpp/Crow.git
[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum.git
